# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [5]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return a
    elif a%2==0 and b%2==1:
        return b
    elif a%2==1 and b%2==1:
        return b
    pass

In [6]:
# Check
lesser_of_two_evens(2,4)

2

In [7]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [29]:
def animal_crackers(text):
    s=text.split()
    if s[0][0].upper()==s[1][0].upper():
        return True
    else:
        return False

In [34]:
# Check
animal_crackers('Levelheaded Llama')

True

In [31]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [39]:
def makes_twenty(n1,n2):
    if (n1+n2)==20 or ((n1 or n2)==20):
        return True
    else:
        return False
    pass

In [40]:
# Check
makes_twenty(20,10)

True

In [41]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [67]:
def old_macdonald(name):
    for index,value in enumerate(name):
        if index==0 or index==3:
            value=value.capitalize()
        print(value)

In [71]:
# Check
str1=old_macdonald('macdonald')

M
a
c
D
o
n
a
l
d

TypeError: can only join an iterable

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [46]:
def master_yoda(text):
    i=text.split()
    rev=" ".join(reversed(i))
    return rev

In [47]:
# Check
master_yoda('I am home')

'home am I'

In [48]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [53]:
def almost_there(n):
    if abs(100-n)<=10 or abs(200-n)<=10:
        return True
    else:
        return False
    pass

In [54]:
# Check
almost_there(104)

True

In [55]:
# Check
almost_there(150)

False

In [56]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMSnew=0

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [65]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        
    return False

In [66]:
# Check
has_33([1, 3, 3])

True

In [67]:
# Check
has_33([1, 3, 1, 3])

False

In [68]:
# Check
has_33([1,4,4,3,3])

True

In [85]:
#Another method

In [97]:
def fun(n):
    for i in range(0,len(n)-1):
        if n[i] == 3 and n[i+1] == 3:
            return True
        else:
            return False

In [98]:
fun([1, 3, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [140]:
def paper_doll(text):
    emty=""
    for i in text:
        p=i*3
        emty=emty+p
    print(emty)
    pass

In [141]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [142]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [158]:
def blackjack(a,b,c):
    for i in range(1,12):
        sum=(a+b+c)
        if sum<=21:
            return sum
        elif sum>21 and (11 in (a,b,c)):
            sum=sum-10
            return sum
        elif sum>21:
            return sum
    pass

In [159]:
# Check
blackjack(5,6,7)

18

In [160]:
# Check
blackjack(9,9,9)

27

In [161]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [165]:
def summer_69(arr):
    new=0
    for i in arr:
        if i in range(6,11):
            pass
        else:
            new=new+i
    return new
       
    pass

In [166]:
# Check
summer_69([1, 3, 5])

9

In [167]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [168]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [71]:
def spy_game(nums):
    code=[0,0,7,'x']
    for i in nums:
        if i==code[0]:
            code.pop(0)
    return len(code)==1

In [72]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [73]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [74]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [8]:
def count_primes(num):
    for i in  range(2,num):
        for a in range(i):
            if a>1:
                if i%a==0:
                    print("num is not prime")
                else:
                    print("num is prime")
    pass

In [14]:
# Check
count_primes(4)

num is prime

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [19]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [75]:
print_big('b')

****
*   *
****
*   *
****

## Great Job!

In [76]:
val=50

In [78]:
val/2

25.0

In [96]:
def func(num):
    for i in range(2,num):
        if num%i==0:
            print(" not prime")
            break
    else:
        print("prime")

In [98]:
func(11)

10 prime