In [26]:
def func(a):
        print(a*10)

In [27]:
func(10)

100

In [1]:
class new:
    name="pradeep"
    clas="praful"
    def func(a):
        
        print("Name is",a.name+a.clas,len(a.name))

In [2]:
v1=new()

In [3]:
v1.func()

Name is pradeeppraful 7

In [4]:
v2=new()

In [5]:
v2.func()

Name is pradeeppraful 7

In [6]:
v2.name="praaful"

In [7]:
v2.func()

Name is praafulpraful 7

In [106]:
class operations:
    num1=40
    num2=30
    def add(a):
        print("sum is",a.num1+a.num2)
    def sub(a):
        print("sub is",a.num1-a.num2)
    def mul(a):
        print("mul is",a.num1*a.num2)

In [107]:
c1=operations()

In [108]:
c1.add()

sum is 70

In [110]:
c2.sub()

sub is 10

In [111]:
c1.mul()

mul is 1200