In [1]:
ph={'p','h','t',4,'y',8,0}

In [2]:
type(ph)

set

In [3]:
ph

{0, 4, 8, 'h', 'p', 't', 'y'}

In [4]:
ph.add("a")

In [5]:
ph

{0, 4, 8, 'a', 'h', 'p', 't', 'y'}

In [6]:
ph.remove('a')

In [7]:
ph

{0, 4, 8, 'h', 'p', 't', 'y'}

In [8]:
ph[1]

TypeError: 'set' object is not subscriptable

In [ ]:
tup=(4,65,5,4,6,4)

In [ ]:
tup

In [ ]:
tup.add(98)

In [ ]:
tup.remove(74)

In [ ]:
li=[1,6,6,57,89,4,5,5,7,7]

In [ ]:
k=set(li)

In [ ]:
k

In [ ]:
len(k)

In [ ]:
tup=(1,5,6,4,8,5,6,44,4)

In [ ]:
tup[0:4]

In [ ]:
o=set(tup)

In [ ]:
o

lists:In list elements can be changed and slicing alsoo.and also modify

tuples:similar to lists but elements can not changed in tuples.

sets:elements in sets are in ordered structure and repeated elements are removed.add and remove can be done in sets.

In [ ]:
print("hey this is {}".format("PRADEEP"))

In [ ]:
print("my best friends are {l} {k} {o} but they are so lazy".format(k="dhiva",l="pratab",o="praful"))

In [ ]:
count=45654
mini=30000

In [ ]:
print("My friend salary is {} but he gets {}".format(count,mini))

In [ ]:
#LISTS

In [ ]:
clg=["bunks","fights","roaming","eating","caring","crying",465,461,467,496,456]

In [ ]:
clg.pop()

In [ ]:
clg.pop(5)

In [ ]:
clg

In [ ]:
clg.remove(465)

In [ ]:
clg

In [ ]:
clg.remove(0)

In [ ]:
del(clg[0])

In [ ]:
clg

In [ ]:
clg.sort()

In [ ]:
clg

In [ ]:
clg1=[1,0,3,5,-2,66,5]

In [ ]:
clg1.sort()

In [ ]:
clg1

In [ ]:
clg.reverse()

In [ ]:
clg

In [ ]:
#dic:set of key and value pairs.

In [ ]:
di={"n1":465,"n2":461,"n3":467,"n4":496}

In [ ]:
di["n1"]

In [ ]:
di["n1"]+di["n2"]

In [ ]:
di.keys()

In [ ]:
di.values()

In [ ]:
di["n1"]=476

In [ ]:
di

In [ ]:
li=[42,3,1,3,1,45,3,2]

In [ ]:
li2=[5]

In [ ]:
li+li2

In [ ]:
2**2

In [ ]:
6**2

In [ ]:
num=float(input("enter the number"))

In [ ]:
result=num**0.5

In [ ]:
result

In [ ]:
num1=465
num2="655"

In [ ]:
print("The data type of {}".format(num1),type(num1))
print("The data type of {}".format(num1),type(num2)) #
sumi=num1+num2#implicit conversion
print(sumi)

In [ ]:
print("The data type of {}".format(num1),type(num1))
print("The data type of {}".format(num1),type(num2)) #
sumi=num1+int(num2)#explicit conversion
print(sumi)

In [ ]:
import math
print(math.pi)

In [ ]:
int(2.9)

In [ ]:
int(65**0.5)

In [ ]:
x=6

In [ ]:
x>5

In [ ]:
x<5

In [ ]:
x==6

In [ ]:
x!=6

In [ ]:
x!=8

In [ ]:
m=300

In [ ]:
n=m

In [ ]:
n

In [ ]:
n=89

In [ ]:
n

In [ ]:
m

In [ ]:
x="Hello pradeep"
y={1:'a',2:'b'}

In [ ]:
print('H' in x)

In [ ]:
print('p' in x)

In [ ]:
print(1 in y)

In [ ]:
print('a' in y)

In [ ]:
num=int(input("Enter the number please"))

In [ ]:
if num>0:
    print("NUmber is +ve")
elif num==0:
    print("num is non negative")
else:
    print("number is -ve")

In [ ]:
#nested if statements

In [ ]:
num1=int(input("Enter the num1"))

In [ ]:
num2=int(input("Enter the num1"))

In [ ]:
num3=int(input("Enter the num1"))

In [ ]:
if (num1>num2) and (num1>num3):
    print("Num1 is graeter",num1)
elif (num2>num1) and (num2>num3):
    print("num2 is grater",num2)
else:
    print("num3 is grater",num3)

In [ ]:
num=int(input("Enter the number :"))

In [ ]:
if num>=0:
    if num==0:
        print("num is zero")
    print("num is positive")
else:
    print("num is -ve")

In [ ]:
print("sum of elements is given by")
sumi=0
for i in [2,4,5,6,7,8,9]:
    print(i)
    sumi=sumi+i
print(sumi)

In [ ]:
for i in [1,2,3,4]:
    for j in [5,6,7,8,10]:
        print(i,j)

In [ ]:
li1=["karri","musal","nidhi","dhiva"]

In [ ]:
for i in li1:
    print(i)
    if i=="nidhi":
        break

In [ ]:
books=["c","c++","java","python","java script","NS"]

In [ ]:
for i in range(len(books)):
    print("BOOKS(%d):"%i,books[i])

In [ ]:
nums=[2,1,3,4,5,6,4,5,6]
sums=0

In [ ]:
for i in nums:
    sums=sums+i
print("sum of numbers in list is:",sums)
avg=(sums/len(nums))
print("average:",int(avg))

In [ ]:
#while loops

In [19]:
count=0 #infinite floop
while count<5:
    print("i am in loop")
    print("loop repaets until the condition gets false")
    count+=1

i am in loop
loop repaets until the condition gets false
i am in loop
loop repaets until the condition gets false
i am in loop
loop repaets until the condition gets false
i am in loop
loop repaets until the condition gets false
i am in loop
loop repaets until the condition gets false

In [20]:
count=0
while count<5:
    print(count)
    count+=1

0
1
2
3
4

In [22]:
count=5
while count<=10:
    print(count)
    count+=1

5
6
7
8
9
10

In [23]:
#multiplication

In [50]:
number=int(input("Enter the number:"))

Enter the number:89

In [51]:
count=10
while count>=1:
    mul=count*number
    print("%d * %d ="%(number,count),mul)
    count-=1

89 * 10 = 890
89 * 9 = 801
89 * 8 = 712
89 * 7 = 623
89 * 6 = 534
89 * 5 = 445
89 * 4 = 356
89 * 3 = 267
89 * 2 = 178
89 * 1 = 89

In [52]:
#sum of n numbers

In [77]:
nums=int(input("Enter the numbers:"))

Enter the numbers:5

In [78]:
sums=0
op=1

In [81]:
while op<=nums:
    sums=sums+op
    op=op+1
print(sums)

15

In [82]:
while nums>=op:
    sums=sums+nums
    nums=nums-1
print(sums)

15

In [83]:
#to illustrate the else in while loop

In [86]:
count=0
while count<3:
    print("inside the loop")
    count=count+1
else:
    print("outside the loop")

inside the loop
inside the loop
inside the loop
outside the loop

In [87]:
#break and continue

In [95]:
for i in "pradeep":
    print(i)
    if i=='d':
        print("break of string",i)
        break
else:
    print("out of loop")

p
r
a
d
break of string d

In [1]:
#multiplication

In [2]:
num1=int(input("enter the number:"))

enter the number:10

In [4]:
i=1
while i<=num1:
    mul=num1*i
    print("%d * %d="%(num1,i),mul)
    i=i+1

10 * 1= 10
10 * 2= 20
10 * 3= 30
10 * 4= 40
10 * 5= 50
10 * 6= 60
10 * 7= 70
10 * 8= 80
10 * 9= 90
10 * 10= 100

In [5]:
li1=["sush",465,"karri",545,"lala","musal"]

In [9]:
for op in li1:
    print(op)
    if op=="karri":
        break
print("not match")

sush
465
karri
not match

In [25]:
for op in li1:
    if op=="karri":
        continue
        print("heyy karri")
    print(op)

sush
465
545
lala
musal

In [26]:
for op in li1:
    print(op)
    if op=="karri":
        continue
        print("heyy karri")
    print(op)

sush
sush
465
465
karri
545
545
lala
lala
musal
musal

In [27]:
#pass

In [31]:
for i in [2,3,4,5,6]:
    
    print("hey")
    pass

hey
hey
hey
hey
hey

In [33]:
def func(num):
    pass

In [35]:
class example:
    pass

In [36]:
#doc strings

In [37]:
def func(num):
    """hey this is docstring"""

In [40]:
print(func.__doc__)

hey this is docstring

In [45]:
def well(name):
    """Wekcomes the person"""
    print("hey "+name+" good morning")

In [46]:
well("pradeep")

hey pradeep good morning

In [47]:
print(well.__doc__,)

Wekcomes the person

In [48]:
print(well("ashAAA"))

hey ashAAA good morning
None

In [1]:
#return in function

In [6]:
def name(surn):
    if surn>0:
        return ("positive",surn)
    else:
        return -surn

In [9]:
print(name(-5))

5

In [10]:
name(-5)

5

In [14]:
[2,3,4,5,6,4][2:4]

[4, 5]

In [31]:
li=["pradeep","praful",456,465,476,12,3]
for i in enumerate(li):
    print(i)

(0, 'pradeep')
(1, 'praful')
(2, 456)
(3, 465)
(4, 476)
(5, 12)
(6, 3)

In [26]:
for (index,vak) in enumerate(li):
    print(index)
    print(vak)
    print("\n")

0
pradeep


1
praful


2
456


3
465


4
476


5
12


6
3

In [30]:
for (index,value) in enumerate(li):
    print(index,value)

0 pradeep
1 praful
2 456
3 465
4 476
5 12
6 3

In [32]:
l1=[100,200,300,400]
l2=["karri","sush","kittu"]
l3=[465,456,476,478]

In [37]:
for i in zip(l1,l2):
    print(i)

(100, 'karri')
(200, 'sush')
(300, 'kittu')

In [38]:
for (marks,name,roll) in zip(l1,l2,l3):
    print(name,roll)

karri 465
sush 456
kittu 476

In [76]:
li=[45,4,6,4,55,7]

In [77]:
li

[45, 4, 6, 4, 55, 7]

In [78]:
li.append(8)

In [79]:
li

[45, 4, 6, 4, 55, 7, 8]

In [80]:
li.extend([74,89,23,41,65])

In [81]:
li

[45, 4, 6, 4, 55, 7, 8, 74, 89, 23, 41, 65]

In [82]:
li.insert(4,465)

In [83]:
li

[45, 4, 6, 4, 465, 55, 7, 8, 74, 89, 23, 41, 65]

In [84]:
li.sort()

In [85]:
li

[4, 4, 6, 7, 8, 23, 41, 45, 55, 65, 74, 89, 465]

In [86]:
li.sort(reverse=True)

In [87]:
li

[465, 89, 74, 65, 55, 45, 41, 23, 8, 7, 6, 4, 4]

In [88]:
li=[4,5,7,8,9,5]

In [89]:
for i in range(len(li)):
    print(i)

0
1
2
3
4
5

In [90]:
su=lambda a,b:a+b

In [91]:
su(2,5)

7

In [93]:
rem=lambda x:x%2==0

In [94]:
rem(4)

True

In [98]:
num=lambda x:x+1

In [99]:
num(4)

5

In [114]:
check=lambda x:x%2 and "odd" or 'even'

In [116]:
check(4)

'even'

In [117]:
#filter using lambda function

In [7]:
li=[4,5,6,2,4,65]
num=(lambda x:(x%2==0),li)

In [8]:
num(li)

TypeError: 'tuple' object is not callable

In [9]:
#filter(function,iterable)

In [10]:
new=list(filter((lambda x:x%2==0),li))

In [11]:
new

[4, 6, 2, 4]

In [12]:
new1=lambda x:x%2==0

In [13]:
if new1==0:
    print("even")
else:
    pass

In [14]:
new1(4)

True

In [15]:
#mapping:map(function,iterable)

In [16]:
new1=list(map((lambda x:x*10),li))

In [17]:
new1

[40, 50, 60, 20, 40, 650]

In [22]:
new1=list(map((lambda x:x%2==0),li))

In [23]:
new1

[True, False, True, True, True, False]

In [26]:
def func(name,msg):
    print("hey its",name,"give a message",msg)

In [27]:
func("pradeep","i am late today")

hey its pradeep give a message i am late today

In [28]:
def func(roll,marks,name,area,age,sex):
    print("Details of students:",roll,name,marks,area,age,sex)

In [29]:
func(465,56,"kar","karim",25,"f")

Details of students: 465 kar 56 karim 25 f

In [30]:
#args

In [31]:
def names(*args):
    print('#'.join(args))

In [32]:
names("prade","sush","karri")

prade#sush#karri

In [35]:
def nums(*args):
    return sum(args)*2

In [36]:
nums(20,30,4,0)

108

In [39]:
def nums(*args):
    for i in args:
        print(i*5)

In [40]:
nums(5,4,5,6,7,12,3,2,56,4,5,0,5,5,3,6,5,3,6,52,3,2,6,63,32,20,3)

25
20
25
30
35
60
15
10
280
20
25
0
25
25
15
30
25
15
30
260
15
10
30
315
160
100
15

In [47]:
def func(*args):
    if "sush" in args:
        print("she is good girl",args[1])

In [48]:
func("karim","sush","musal")

she is good girl sush

In [49]:
# **kwargs

In [66]:
def food(**kwargs):
    if 'k2' in kwargs:
        print("Hey i like to play with {} and i like bird like {}".format(kwargs['k2'],kwargs['k3']))

In [67]:
food(k1="pradeep",k2="kites",k3="parrot")

Hey i like to play with kites and i like bird like parrot

In [68]:
#both *args and **kwargs

In [73]:
def both(*args,**kwargs):
    print(args)
    print(kwargs)
    print(args[2],kwargs['sush'],kwargs['karri'])

In [74]:
both(465,456,491,461,sush=465,karri=89)

(465, 456, 491, 461)
{'sush': 465, 'karri': 89}
491 465 89

In [1]:
#local,global and non-local

In [8]:
x="CLASS" #global variable
def func():
    print(x)
print(x)

CLASS

In [9]:
func()

CLASS

In [12]:
def func1():
    y="PRADEEP" #local variable
    print(y)
print(y)

NameError: name 'y' is not defined

In [13]:
func1()

PRADEEP

In [14]:
print(y)

NameError: name 'y' is not defined

In [15]:
#both local and global variables

In [22]:
y="GLOBAL"
def fuy():
    global t # by 'global' keyword we can use it as global variable
    t="LOCAL"
    print(y)
    print(t)

In [23]:
fuy()

GLOBAL
LOCAL

In [24]:
print(t)

LOCAL

In [ ]:
#non local variable:used in nested functions

In [74]:
def outer():
    z="Local"
    def inner():
        z="NONLOCAL"
        print(z)
    print(z)
    inner()

In [75]:
outer()

Local
NONLOCAL

In [76]:
#global variable in nested function

In [87]:
def outer():
    u="outer"
    def inner():
        global u
        u="inner"
        print(u)
    print(u)
    inner()
print(u)

inner

In [84]:
outer()

outer
inner

In [85]:
u

'inner'

In [50]:
#reverse a string different methods

In [51]:
text[-1::-1]

'peedarp'

In [52]:
stri=input("Enter any string: ")
rev=""
for i in stri:
    rev=i+rev
print(rev)

Enter any string: pradeep
peedarp

In [8]:
li=["sush",465,"lolli",85]
li1=[]

In [9]:
for

TypeError: can only concatenate str (not "list") to str

In [14]:
li.reverse()

In [16]:
print(li)

[85, 'lolli', 465, 'sush']

In [17]:
li

[85, 'lolli', 465, 'sush']

In [18]:
li[-1::-1]

['sush', 465, 'lolli', 85]

In [19]:
len(li)

4

In [22]:
for i in range(len(li)):
    li1.append(li[i])
print(li1)

[85, 'lolli', 465, 'sush', 85, 'lolli', 465, 'sush']

In [65]:
op=["sush",465,"lolli",85]
np=[]

In [26]:
for i in range(len(op)):
    np.append(op[])

IndexError: list index out of range

In [25]:
np

['sush', 465, 'lolli', 85]

In [36]:
for i in range(len(op)-1,-1,-1):
    m=op[i]
    np.append(m)
print(np)

[85, 'lolli', 465, 'sush']

In [67]:
for i in reversed(op):
    np.append(i)
print(np)

[85, 'lolli', 465, 'sush']

In [37]:
#using while loop

In [62]:
hy=[45,58,98,63,1,2]
p=[]

In [63]:
count=len(hy)-1
while count>=0:
    op=hy[count]
    p.append(op)
    count=count-1
print(p)

[2, 1, 63, 98, 58, 45]

In [68]:
#modules