In [3]:
int(1.5+2.5-3.5)

0

In [4]:
a=10

In [5]:
a

10

In [6]:
a=5

In [7]:
a

5

In [14]:
a=a+a

In [15]:
a

80

In [16]:
type(a)

int

In [17]:
name="pradeep"

In [18]:
name

'pradeep'

In [19]:
type(name)

str

In [20]:
int =4

In [21]:
int

4

In [22]:
print("Pradeep Praful")

Pradeep Praful

In [24]:
print("Pradeep \nPraful")

Pradeep
Praful

In [25]:
print("Pradeep \tPraful")

Pradeep 	Praful

In [28]:
myself="Hey Pradeep"

In [29]:
myself

'Hey Pradeep'

In [31]:
myself[:3]

'Hey'

In [32]:
"pradeep"[0]

'p'

In [34]:
"Hello World"[8:-2]

'r'

In [38]:
myself[6]

'a'

In [39]:
"tinker"[1:-2]

'ink'

In [40]:
"tinker"[1:4]

'ink'

In [41]:
name="pradeep"

In [42]:
name[0]="k"

TypeError: 'str' object does not support item assignment

In [44]:
o=name[1:]

In [45]:
o

'radeep'

In [49]:
"k"+o

'kradeep'

In [53]:
l="pradeep"

In [54]:
m=" is studpid"

In [55]:
l+m

'pradeep is studpid'

In [57]:
l+m+" but he is good from heart"

'pradeep is studpid but he is good from heart'

In [62]:
l*5

'pradeeppradeeppradeeppradeeppradeep'

In [63]:
"2"+"55"

'255'

In [65]:
myself.upper()

'HEY PRADEEP'

In [67]:
myself.endswith("p")

True

In [68]:
myself.find("a")

6

In [71]:
myself.format('p')

'Hey Pradeep'

In [72]:
myself.isalnum()

False

In [73]:
myself.islower()

False

In [75]:
myself.split()

['Hey', 'Pradeep']

In [78]:
myself.translate("p")

'Hey Pradeep'

#Format method:format()

In [1]:
print("Hey is this {}".format("praddeep"))

Hey is this praddeep

In [3]:
print("Lets {} {} {} in my house".format("play","pubg","mobile"))

Lets play pubg mobile in my house

In [4]:
name="lets {} {} {}"

In [7]:
name.format("play","pubg","mobile")

'lets play pubg mobile'

In [8]:
print("Lets {1} {0} {2} in my house".format("play","pubg","mobile"))

Lets pubg play mobile in my house

In [11]:
print("Lets {u} {i} {o} in my house".format(i="play",o="pubg",u="mobile"))

Lets mobile play pubg in my house

In [13]:
name="lets {1} {1} {0}"

In [14]:
name.format("play","pubg","mobile")

'lets pubg pubg play'

In [16]:
name="lets {l} {k} {o}"

In [17]:
name.format(o="play",k="pubg",l="mobile")

'lets mobile pubg play'

#Formatting float values[
{value:width.precisionf.format(value)
]

In [22]:
result=24541/7

In [24]:
result

3505.8571428571427

In [25]:
print("The result is {}".format(result))

The result is 3505.8571428571427

In [28]:
print("The result is {k:4.2f}.".format(k=result))

The result is 3505.86.

In [ ]:
print(("{k} {m}".format(k="Python",m="rules!")))

#Lists

In [31]:
mylist=["one","two","three","four","five","six","seven"]

In [32]:
mylist.pop()#Removes the last element of list

'seven'

In [34]:
mylist

['one', 'two', 'three', 'four', 'five', 'six']

In [48]:
mylist.pop()

IndexError: pop from empty list

In [49]:
mylist=["one","two","three","four","five","six","seven"]

In [61]:
new_list=["one","two","three","four","five","six","seven"]

In [62]:
new_list

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [63]:
new_list.reverse()

In [64]:
new_list

['seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [69]:
new_list.count(new_list)

0

In [70]:
new_list.sort()

In [71]:
new_list

['five', 'four', 'one', 'seven', 'six', 'three', 'two']

In [76]:
new_list.count("five")

1

In [77]:
new_list.pop(2)

'one'

In [78]:
new_list

['five', 'four', 'seven', 'six', 'three', 'two']

In [83]:
del(new_list[2])

In [84]:
new_list

['five', 'four', 'three', 'two']

In [85]:
new_list.remove("three")

In [86]:
new_list

['five', 'four', 'two']

In [88]:
new_list.remove("four")

In [89]:
new_list

['five', 'two']

In [90]:
m= [1,1,[1,2]]

In [91]:
m

[1, 1, [1, 2]]

In [97]:
i=m[2]

In [98]:
i

[1, 2]

In [99]:
i[1]

2

 #Dictionaries

In [100]:
dic={"k1":465,"k2":471,"k3":{"k4":456,"k5":"pradeep"},"k6":"abhi","k7":"Sush"}

In [101]:
dic

{'k1': 465,
 'k2': 471,
 'k3': {'k4': 456, 'k5': 'pradeep'},
 'k6': 'abhi',
 'k7': 'Sush'}

In [103]:
dic["k1"]

465

In [105]:
dic["k3"]

{'k4': 456, 'k5': 'pradeep'}

In [106]:
dic["k3"]["k5"]

'pradeep'

In [107]:
dic["k3"]["k5"]="shalini"

In [108]:
dic

{'k1': 465,
 'k2': 471,
 'k3': {'k4': 456, 'k5': 'shalini'},
 'k6': 'abhi',
 'k7': 'Sush'}

In [114]:
dic["k3"]["k5"].upper()

'SHALINI'

In [116]:
dic

{'k1': 465,
 'k2': 471,
 'k3': {'k4': 456, 'k5': 'shalini'},
 'k6': 'abhi',
 'k7': 'Sush'}

In [118]:
dic["k3"]

TypeError: setdefault expected at least 1 arguments, got 0

In [120]:
new={"k1":100,"k2":200,"k3":400}

In [121]:
new

{'k1': 100, 'k2': 200, 'k3': 400}

In [123]:
new.keys()

dict_keys(['k1', 'k2', 'k3'])

In [124]:
new.values()

dict_values([100, 200, 400])

In [126]:
new={"date":15,"month":6,"year":1998}

In [127]:
new

{'date': 15, 'month': 6, 'year': 1998}

In [128]:
going={"hey",2,1,2,8}    #sets

In [129]:
going

{1, 2, 8, 'hey'}

In [134]:
going[1]

TypeError: 'set' object is not subscriptable

In [138]:
gh={"p","p","r","a","a","d","d","d","e","e","e","p"}

In [139]:
gh

{'a', 'd', 'e', 'p', 'r'}

In [140]:
gh.add("l")

In [141]:
gh

{'a', 'd', 'e', 'l', 'p', 'r'}

In [142]:
gh.set()

AttributeError: 'set' object has no attribute 'set'

In [143]:
set([1,2,3,45,7,])

{1, 2, 3, 7, 45}

In [144]:
li=[52,1,2,3,4,78,9,5,4]

In [147]:
k=set(li)

In [148]:
k

{1, 2, 3, 4, 5, 9, 52, 78}

In [149]:
k.add(0)

In [2]:
k

NameError: name 'k' is not defined

In [39]:
%%writefile pradeep.text
hwey is thar jkjfnj ndjn ndJN odkmkam VNJVE EJ JNFNF
DN
B]DNJfj
dMFNdh
HUSHNUnjfn

Overwriting pradeep.text

In [40]:
file=open("pradeep.text")

In [41]:
c=file.read()

In [42]:
c

'hwey is thar jkjfnj ndjn ndJN odkmkam VNJVE EJ JNFNF\nDN\nB]DNJfj\ndMFNdh\nHUSHNUnjfn\n'

In [43]:
pwd     #location of file

'C:\\Users\\Pradeep\\Desktop\\Python Files'

In [44]:
file.seek(0)

0

In [45]:
file.readlines() #moves to next line

['hwey is thar jkjfnj ndjn ndJN odkmkam VNJVE EJ JNFNF\n',
 'DN\n',
 'B]DNJfj\n',
 'dMFNdh\n',
 'HUSHNUnjfn\n']

In [34]:
file.close()

In [35]:
file.read()

ValueError: I/O operation on closed file.

In [47]:
with open("pradeep.txt") in mynew:
    c=mynew.read()

FileNotFoundError: [Errno 2] No such file or directory: 'pradeep.txt'

#writing a file

In [58]:
new=open("pradeep.text",'w+')

In [59]:
new

In [60]:
m=new.write("This new file")

In [61]:
m

13

In [64]:
new.seek(0)
new.read()

'This new file'

#classes and object

In [73]:
class info: #class name
    marks=20
    name="pradeep"
    rollno=465
    def new(a): #creating a function
        print(" marks is",a.marks,"\n name is",a.name,"\n roll no is",a.rollno)

In [74]:
obj=info()#creating a object of class'info'

In [75]:
obj.new()#calling function using object

 marks is 20
 name is pradeep
 roll no is 465

#Comparison operators

In [76]:
5==5

True

In [77]:
5==4

False

In [78]:
10!=5

True

In [80]:
10!=5

True

#Statements

In [1]:
a=10
if (a>=6):
    print(a,"is greater")
else:
    print(a,"is smaller")

10 is greater

In [4]:
a=10
b=10
c=10
if (a>=b and a>=c):
    print(a,"is biger")
elif (b>=a and b>=c):
    print(b,"is bigger")
elif (c>=a and c>=b):
    print(c,"is bigger")
else:
    print("No number is bigger")

10 is biger

# for loop

In [6]:
li=[10,20,30,50,40]
for a in li:
    print(a*10)

100
200
300
500
400

In [17]:
name="pradeep"
for a in name:
    print(a+"good")

pgood
rgood
agood
dgood
egood
egood
pgood

In [20]:
li=[10,20,30,50,40]
for a in li:
    print(a,"hello pradeep")

10 hello pradeep
20 hello pradeep
30 hello pradeep
50 hello pradeep
40 hello pradeep

In [31]:
li1=[2,7,9,6,3,45,25,23,28,36]
for b in li1:
    if (b%2==0):
        print(b,"even")
    else:
        print(b,"odd")

2 even
7 odd
9 odd
6 even
3 odd
45 odd
25 odd
23 odd
28 even
36 even

In [38]:
li1=[2,7,9,6,3,45,25,23,28,36]
for b in li1:
    if (b%2==0):
        print(b,":{}".format("even"))
    else:
        print(b,":{}".format("odd"))

2 :even
7 :odd
9 :odd
6 :even
3 :odd
45 :odd
25 :odd
23 :odd
28 :even
36 :even

In [59]:
new=0
for num in li1:
    new=new+num
    print(new)
print("\n",new)

2
9
18
24
27
72
97
120
148
184

 184

In [61]:
for me in 'Hello World':
    print(me)

H
e
l
l
o

W
o
r
l
d

In [64]:
mstring="Hello World"
for ki in mstring:
    print(ki)

H
e
l
l
o

W
o
r
l
d

In [65]:
mstring="Hello World"
for ki in mstring:
    print("Pradeep")

Pradeep
Pradeep
Pradeep
Pradeep
Pradeep
Pradeep
Pradeep
Pradeep
Pradeep
Pradeep
Pradeep

In [67]:
tup=(1,2,3,4) #In tuples
for a in tup:
    print(a)

1
2
3
4

#Tuples in list

In [68]:
li2=[(1,2),(3,4),(5,6),(7,8)]

In [69]:
len(li2)

4

In [70]:
for a in li2:
    print(a)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [83]:
for (x,y) in li2:  
    print(x,y)
    print(x+y)
    print(x*y)

1 2
3
2
2
3 4
7
12
4
5 6
11
30
6
7 8
15
56
8

In [84]:
for (x,y) in li2:  
    print(y)

2
4
6
8

In [85]:
li3=[(1,2,3),(4,5,6),(7,8,9)]

In [87]:
for (x,y,z) in li3:
    print((x,y,z))

(1, 2, 3)
1
(4, 5, 6)
4
(7, 8, 9)
7

In [91]:
for (x,y,z) in li3:
    print((x,y,z))

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

#Dictionaries

In [92]:
dic={"k1":1,"k2":2,"k3":3}

In [107]:
for a in dic.items():
    print(a)

('k1', 1)
('k2', 2)
('k3', 3)

In [108]:
for (key,val) in dic.items():
    print(val)

1
2
3

In [106]:
for (key,val) in dic:
    print(val)

1
2
3

In [109]:
for (key,val) in dic.items():
    print(key)

k1
k2
k3

#While loops

In [2]:
a=4
while a<10:
    print("big")
    a=a+1

big
big
big
big
big
big

In [3]:
a=0
while a<8:
    if(a%2==0):
        print("even {}".format(a))
    a=a+1

even 0
even 2
even 4
even 6

# break,continue and pass 
break:breaks out the current loop
continue:moves to closest loop
pass:does nothing

In [6]:
li=[1,2,3]
for num in li:
    pass
print('Hello')

Hello

In [8]:
a=0
while a<10:
    if(a==4):
        break
    a=a+1
    print(a)

1
2
3
4

In [9]:
name="pradeep"
for a in name:
    if(a=="e"):
        break
    print(a)

p
r
a
d

In [11]:
name="pradeep"
for a in name:
    if(a=="p"):
        continue
    print(a)

r
a
d
e
e

# Using operators

In [24]:
for i in range(0,10): #range function
        print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range(0,10):
    if(i%2==0):
        print(i)

0
2
4
6
8

In [26]:
for i in range(0,10,3):
    if(i%2==0):
        print(i)

0
6

In [27]:
range(0,10)

range(0, 10)

In [28]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
word="pradeep"
for i in word:
    print(i)

p
r
a
d
e
e
p

In [33]:
word="pradeep"
index=0
for i in word:
    print(word[index])
    index=index+1

p
r
a
d
e
e
p

    #enumerate function

In [34]:
string="Hello world"

In [36]:
for i in enumerate(string): #enumerate function gives the o/p with indices
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'w')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

In [38]:
for (index,value) in enumerate(string):
    print(index)
    print(value)
    print("\n")

0
H


1
e


2
l


3
l


4
o


5



6
w


7
o


8
r


9
l


10
d

In [8]:
li=["Pradeep",465,"mhvr",456,"hey"]
for (index,valu) in enumerate(li):
    print(index,valu)

0 Pradeep
1 465
2 mhvr
3 456
4 hey

#Zip function

In [60]:
myli1=[1,2,3,4]
myli2=["Pradeep","praful","abhi"]
myli3=[100,200,300,400]

In [61]:
for i in zip(myli1,myli2):
    print(i)

(1, 'Pradeep')
(2, 'praful')
(3, 'abhi')

In [62]:
for (index,value) in zip(myli1,myli2):
    print(index)
    print(value)
    print("\n")

1
Pradeep


2
praful


3
abhi

In [63]:
for i in zip(myli1,myli2,myli3):
    print(i)

(1, 'Pradeep', 100)
(2, 'praful', 200)
(3, 'abhi', 300)

In [64]:
list(zip(myli1,myli2,myli3))

[(1, 'Pradeep', 100), (2, 'praful', 200), (3, 'abhi', 300)]

#in keyword

In [65]:
li=[10,20,30,40]

In [66]:
10 in li

True

In [67]:
50 in li

False

In [68]:
d={"k1":100,"k2":200,"k3":520}

In [70]:
200 in d.values()

True

In [71]:
"k2" in d

True

In [73]:
"k3" in d

True

In [74]:
max(li)

40

In [75]:
min(li)

10

#accessing the functions from libraries

In [89]:
from random import shuffle

In [95]:
myli=[2,4,1,2,3,5,3,1,7,42,2]

In [96]:
shuffle(myli)

In [97]:
myli

[1, 3, 2, 1, 2, 3, 5, 4, 42, 2, 7]

In [100]:
from random import randint

In [115]:
k=randint(0,10)

In [116]:
k

3

In [106]:
from random import randrange

In [114]:
randrange(0,20,2)

6

In [103]:
c=input("Kya naam aapka?")

Kya naam aapka?

In [104]:
c

''

In [108]:
num=input("Enter num:")

Enter num:Pradeep

In [106]:
num

'465'

In [107]:
type(num)

str

In [127]:
v=float(num)
v

465.0

In [128]:
type(v)

float

In [129]:
num1=int(input("enter number"))

enter number465

In [130]:
num1

465

In [131]:
type(num1)

int

#List Comprehension

In [13]:
mystr=[1,2,3,4,5,6]

In [14]:
myli=[]
for a in mystr:
    myli.append(a)

In [15]:
myli

[1, 2, 3, 4, 5, 6]

In [19]:
mystr1="Pradeep"

In [20]:
myli1=[]

In [22]:
for b in mystr1:
    myli1.append(b)

In [23]:
myli1

['P', 'r', 'a', 'd', 'e', 'e', 'p']

In [24]:
str1="Rocking"

In [26]:
myli3=[c for c in str1]

In [27]:
myli3

['R', 'o', 'c', 'k', 'i', 'n', 'g']

In [28]:
li4=[1,2,2,3,4,5,60]

In [29]:
li=[c for c in li4]

In [30]:
li

[1, 2, 2, 3, 4, 5, 60]

In [31]:
mylist=[x for x in range(0,10)] #list with range and for loop

In [32]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
mylist=[x**2 for x in range(0,10)]

In [34]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
even=[a for a in mylist if (a%2==0)]#list with for and if stmt

In [41]:
even

[0, 2, 4, 6, 8]

In [56]:
even=[a if(a%2==0) else "odd" for a in mylist] #list with for and if and else

In [55]:
even

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

#Farenint to celsius

In [44]:
celsius=[10,25,14,26,32,47]

In [48]:
far=[(((9/5)*temp)+32) for temp in celsius]

In [49]:
far

[50.0, 77.0, 57.2, 78.80000000000001, 89.6, 116.60000000000001]

In [50]:
far=[]

In [51]:
for temp in celsius:
    far.append((((9/5)*temp)+32))

In [52]:
far

[50.0, 77.0, 57.2, 78.80000000000001, 89.6, 116.60000000000001]

#Nested for loops

In [3]:
lis=[]

In [4]:
for i in [10,20,30]:
    for j in [5,10,15]:
        lis.append(i+j)

In [5]:
lis

[15, 20, 25, 25, 30, 35, 35, 40, 45]

In [6]:
len(lis)

9

In [8]:
newlis=[x*y for x in [10,20,30] for y in [5,10,15]]

In [10]:
newlis

[50, 100, 150, 100, 200, 300, 150, 300, 450]

# Functions

In [1]:
def func(a,b):
    return a*b

In [2]:
func(10,20)

200

In [3]:
def name():
    print("hello")

In [4]:
name()

hello

In [5]:
help(func)

Help on function func in module __main__:

func(a, b)

In [12]:
def name(sur):
    print("hello",sur)

In [13]:
name("pradeep")

hello pradeep

In [14]:
def name(sur="pradeep"):
    print("hello",sur)

In [15]:
name()

hello pradeep

In [17]:
y=name("fucker")

hello fucker

In [18]:
y

In [28]:
def name(sur):
    return "hello "+sur

In [29]:
o=name("rock")

In [30]:
o

'hello rock'

In [31]:
#Find word dog in string

In [44]:
def dogcheck(string):
    if "dog" in string.lower():
        print(True)
    else:
        print(False)

In [45]:
dogcheck("Yesreday i lost Dog")

True

In [46]:
"dog" in "Yesterday i lost my dog"

True

# Pig lation

In [71]:
def piglat(string):
    if string[0] in "aeiou":
        string=string+"ay"
        print(string)
    else:
        string=string[1:]+string[0]+"ay"
        print(string)

In [72]:
piglat("aikram")

aikramay

In [74]:
def myfunc(name):
    print(name)
myfunc("Hello Name")

Hello Name

# *args and **kwargs

*args:Returns the tuple.
**kwargs:returns the dictionaries.

In [8]:
def func(a,b):
    return sum((a,b))*0.05

In [11]:
func(40,60)

5.0

In [22]:
def func(a,b,c,d):
    return (a+b+c+d)*0.5

In [23]:
func(25,25,25,25)

50.0

In [24]:
#using args we can give as many as arguments to function

In [27]:
def func(*args):
    return sum(args)*20

In [28]:
func(20,10,25,35)

1800

In [29]:
def func(*hey):
    return hey

In [30]:
func(20,47,52)

(20, 47, 52)

In [31]:
type(func)

function

In [14]:
sum((10,30))

40

In [32]:
def func(*args):
    for a in args:
        print(a)

In [34]:
func(10,20,30,40,5,44,5,22,5,56,6,33,5,5,3,3,4)

10
20
30
40
5
44
5
22
5
56
6
33
5
5
3
3
4

In [11]:
def func(*args):
    for a in args:
        print( a*10)

In [12]:
func(20,1,0,12,25,23,1,4,3,2,53,5,4)

200
10
0
120
250
230
10
40
30
20
530
50
40

In [13]:
#   **kwargs

In [21]:
def func(**kwargs):
    return kwargs

In [22]:
func(hey='pradeep',cool=465)

{'hey': 'pradeep', 'cool': 465}

In [27]:
def func(**kwargs):
    if 'fruit' in kwargs:
        print("my fav fruit is {}".format(kwargs['fruit']))
    else:
        print("no fav fruit")

In [28]:
func(fruit="apple")

my fav fruit is apple

In [31]:
def func(**kwargs):
    if 'fruit' in kwargs:
        print("my fav fruit is {} {} ".format(kwargs['fruit'],kwargs['vegtables']))
    else:
        print("no fav fruit")

In [32]:
func(fruit="mango",vegtables="Tamatoo")

my fav fruit is mango Tamatoo

In [43]:
def func(*args,**kwargs): #function with both args and kwargs
    print(args)
    print(kwargs)
    print("I would like",args[0],kwargs["fruits"],kwargs["veg"])

In [44]:
func(20,10,30,fruits="APPLES",veg="beans")

(20, 10, 30)
{'fruits': 'APPLES', 'veg': 'beans'}
I would like 20 APPLES beans

# Practise

In [7]:
li=[]
def func(*args):
    for i in args:
        if i%2==0:
            li.append(i)

In [8]:
func(11,25,26,12,6)

In [9]:
li

[26, 12, 6]

In [145]:
def func(*args):
    li=[a for a in args if (a%2==0)]

In [148]:
func(24,25,23,28)

In [149]:
li

[26, 12, 6]

In [147]:
type(l)

NoneType

In [104]:
tup=(10,20,30)

In [105]:
list(tup)

[10, 20, 30]

In [15]:
myfunc("fuckoff")

fuck

In [24]:
x

1

In [41]:
def myfunc(string):
    for index,value in enumerate(string):
        if index%2==0:
            return string.upper()
        else:
            return string.lower()

In [42]:
myfunc("hey come")

'HEY COME'

In [54]:
def myfunc(mystring):
    count=0
    matchstring=''

    for letter in mystring:

        if count%2==0:

            letter=letter.upper()

        else:

            letter=letter.lower()

        matchstring= matchstring+letter

        count+=1
        
    return matchstring

In [55]:
myfunc("pradeep")

'PrAdEeP'

In [12]:

def myfunc(string):
    index=0
    match=""    
    for i in string:
        if index%2==0:
            mathstr=i.lower()
        else:
            mathstr=i.upper()
        index=index+1
        match=match+mathstr
    return match

In [13]:
myfunc("pradeep")

'pRaDeEp'

In [19]:
def func(a,b):
    if a%2==0:
        return a
    else:
        return b

SyntaxError: invalid syntax (<ipython-input-19-12b69ddcdbcf>, line 2)

In [16]:
func(2,4)

2

In [20]:
string="HEY lets go"

In [22]:
s=string.split()

In [23]:
s

['HEY', 'lets', 'go']

In [24]:
s[0][0]

'H'

In [25]:
"j".capitalize()

'J'

In [71]:
def old_macdonald(name):
    for index,value in enumerate(name):
        if (index == 2) or (index == 4):
            print(value.capitalize())

In [72]:
old_macdonald("Hey come on leys party")

Y
C

In [79]:
def func(text):
    m=text.split()
    print(m)

In [80]:
func("hey hurr gsfgdh")

['hey', 'hurr', 'gsfgdh']

In [78]:
m

NameError: name 'm' is not defined

In [82]:
m=reversed([3,2,1])

In [91]:
def num(n): #Sum of natural numbers
    count=0
    while(n>=0):
        count=count+n
        n=n-1
    return count

In [92]:
num(5)

15

In [126]:
def func(n):
    for i in n:
        print(i)
        pass

In [127]:
func([2,3,3,4])

2
3
3
4

In [129]:
p="hey"

In [136]:
m=p[0]*3
m

'hhh'

In [134]:
for i in range(-1,10):
    print(i)

-1
0
1
2
3
4
5
6
7
8
9

In [148]:
li=[1,3,3,7,8,9,52,4,1,2]
for i in range(len(li)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [149]:
[0,0,7] == [1,0,0,7,0,4,0,0,7]

False

In [151]:
" ".join(li)

TypeError: sequence item 0: expected str instance, int found

In [152]:
def string(name):
    str1=" "
    k=str1.join(name)
    return k

In [158]:
string(["25","62","54"])

'25 62 54'

In [170]:
li=[10,20,0,123,25,"prdaeep"]
new=" ".join([str(a) for a in li])
print(new)

10 20 0 123 25 prdaeep

In [171]:
new

'10 20 0 123 25 prdaeep'

In [172]:
new=="pradeep"

False

In [184]:
'20' in new

True

In [179]:
jk=["hey","jdjk","dndd"]
kl=["jdh","dmkmfs","djnfjn"]

In [181]:
llo="".join(kl)

In [182]:
llo

'jdhdmkmfsdjnfjn'

In [91]:
name="pradeep"

In [93]:
c=name.upper()

In [94]:
c

'PRADEEP'

In [95]:
c.isupper()

True

In [96]:
c.islower()

False

In [98]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [100]:
string="madam"

In [101]:
string[::-1]

'madam'

In [14]:
def func(a):
    return a**2

In [18]:
lis=[10,20,31,12]
lis1=[30,10,14,12]

In [19]:
for i in map(lambda x,y:x+y,lis,lis1):
    print(i)

40
30
45
24

In [20]:
list(map(func,lis))

[100, 400, 961, 144]

In [65]:
def func(string):
        if len(string)%2==0:
            return 'even'
        else:
            return string[0]

In [66]:
var=["an","karthik","jagan"]

In [67]:
list(map(func,var))

['even', 'k', 'j']

In [79]:
for i in map(func,var):
    print(i)

even
k
j

In [69]:
def evennum(num):
    return num%2==0

In [ ]:
# li=[2,3,4,5,7,4,5]

In [71]:
list(filter(evennum,li))

[2, 4, 4]

In [78]:
for i in filter(evennum,li):
    print(i)

2
4
4

In [83]:
func=list(map(lambda a:a+"hey",string))

In [84]:
func

['anhey', 'karthikhey', 'jaganhey']

In [85]:
func=list(filter(lambda c:(c%2==0),li))

In [86]:
func

[2, 4, 4]

# Nested statements and scope

In [87]:
x=10
def poin():
    x=41
    return x

In [88]:
print(x)

10

In [90]:
print(poin())

41

In [138]:
ic={"k1":' ',2:' ',3:'6',4:' '}

In [139]:
ic[2]

' '

In [141]:
for i in ic:
    print(i)

k1
2
3
4

# class and objects

In [1]:
milist=[1,2,3,4]

In [2]:
type(milist)

list

In [3]:
myset=set(milist)

In [4]:
type(myset)

set

In [5]:
class MyObj:
    pass

In [8]:
objec=MyObj()#creating a object

In [7]:
type(objec)

__main__.MyObj

In [26]:
class Dog():
    def func(self):
        print("hey")

In [32]:
mydog=Dog()
doggie=Dog()#another object

In [33]:
mydog.func()#1st way to call a method

hey

In [30]:
Dog.func(mydog)#2nd way to call a method

hey

In [34]:
doggie.func()

hey

In [35]:
Dog.func(doggie)

hey

In [36]:
#_init_ method

In [90]:
class Try:
    def __init__(self,name):
        self.name=name
    def func(self):
        print("hello this is",self.name)

In [91]:
c1=Try("Praddeep")
c1.func()

hello this is Praddeep

In [98]:
class Try:
    def __init__(self):
        print("hey lets print")
    def func(self):
        print("hello this is")

In [100]:
c1=Try()

hey lets print

In [101]:
c1.func()

hello this is

In [102]:
c2=Try()

hey lets print

In [107]:
class Computer:
    def __init__(self,cpu,ram):
        self.cpu=cpu
        self.ram=ram
    def cong(self):
        print("The is",self.cpu,self.ram)

In [105]:
c1=Computer("i5",8)

In [106]:
c1.cpu

'i5'

In [108]:
c1=Computer("i5",8)

In [109]:
c2=Computer("i6",16)

In [110]:
c1.cong()

The is i5 8

In [111]:
c2.cong()

The is i6 16

In [112]:
type(c1)

__main__.Computer

In [144]:
class Computer:
    manu=2019
    def __init__(self,cpu,ram):
        self.cpu=cpu
        self.ram=ram
    def cong(self):
        print("The is",self.cpu,self.ram)
    def color(self,model):
         print("The is",self.cpu,self.ram,model)

In [145]:
c1=Computer("i5",8)

In [146]:
c1.manu

2019

In [147]:
c1.cong()

The is i5 8

In [148]:
c2=Computer("i7",10)

In [149]:
c2.color(85)

The is i7 10 85

In [150]:
#AREA OF CIRCLE BY USING CLASS AND OBJECTS

In [161]:
class Circle:
    pi=3.14
    def __init__(self,radius):
        self.radius=radius
    def area(self):
        c=self.pi*self.radius*self.radius
        print(c)

In [162]:
obj1=Circle(4)

In [163]:
obj1.pi

3.14

In [169]:
Circle.pi

3.14

In [164]:
obj1.area()

50.24

In [165]:
class Circle:
    pi=3.14
    def area(self,radius):
        return self.pi*radius*radius

In [166]:
obj=Circle()

In [167]:
obj.area(4)

50.24

# INHERTIANCE AND POLYMORPHISM

In [1]:
class Seca:
    def __init__(self):
        print("Hey we are good than secb")
    def behave(self):
        print("Behaviour is good than secb")

In [3]:
obj1=Seca()

Hey we are good than secb

In [4]:
obj1.behave()

Behaviour is good than secb

In [6]:
Seca.behave("54")

Behaviour is good than secb

In [16]:
class Secb(Seca):
    def __init__(self):
        Seca.behave(self)  #inheritance:Reusebility of code  
        Seca.__init__(self)
    def chart(self):
        print("letsgo")

In [17]:
obj2=Secb()

Behaviour is good than secb
Hey we are good than secb

In [20]:
obj2.chart()

letsgo

In [27]:
class Secc(Secb):
    def __init__(self):
        Secb.__init__(self)
        Secb.chart(self)

In [28]:
obj3=Secc()

Behaviour is good than secb
Hey we are good than secb
letsgo

# Polymorphism

In [29]:
class Dog:
    def __init__(self,name):
        self.name=name
    def speak(self):
        return self.name+" speaks bow boww"

In [30]:
class Cat:
    def __init__(self,name):
        self.name=name
    def speak(self):
        return self.name+" speaks meow meow"

In [32]:
obj1=Dog("bull")

In [33]:
obj2=Cat("kim")

In [34]:
obj1.speak()

'bull speaks bow boww'

In [35]:
obj2.speak()

'kim speaks meow meow'

In [37]:
for i in [obj1,obj2]:
    print(type(i))
    print(i.speak())

<class '__main__.Dog'>
bull speaks bow boww
<class '__main__.Cat'>
kim speaks meow meow